In [7]:
import pandas as pd
import numpy as np
import sys
import os

In [2]:
df_credit_card = pd.read_csv('../data/credit_card_final.csv')

In [8]:
sys.path.append(os.path.join(os.getcwd(), 'scripts'))

In [3]:
df_credit_card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,1970-01-01 00:00:00,-0.701082,-0.041687,1.680101,0.976623,-0.247020,0.348012,0.193700,0.084434,0.333534,...,-0.024777,0.383483,-0.177444,0.110157,0.247059,-0.392622,0.333033,-0.065850,0.244200,0
1,1970-01-01 00:00:00,0.608792,0.164138,0.109279,0.318998,0.042258,-0.060980,-0.065656,0.072903,-0.231703,...,-0.311372,-0.881454,0.162081,-0.561503,0.321175,0.260854,-0.027154,0.043219,-0.342584,0
2,1970-01-01 00:00:01,-0.700336,-0.811337,1.174270,0.270648,-0.366756,1.352655,0.643223,0.210788,-1.381169,...,0.343094,1.065068,1.457772,-1.138484,-0.628161,-0.288861,-0.144325,-0.183824,1.158900,0
3,1970-01-01 00:00:01,-0.499064,-0.109972,1.187383,-0.608355,-0.008814,0.937245,0.192079,0.320843,-1.264664,...,-0.149093,0.007299,-0.305465,-1.941446,1.242487,-0.460694,0.154039,0.185687,0.139886,0
4,1970-01-01 00:00:02,-0.597606,0.535539,1.025470,0.287092,-0.297036,0.072873,0.481517,-0.228725,0.747917,...,-0.012516,1.101780,-0.220709,0.232904,-0.394800,1.041677,0.550001,0.654234,-0.073813,0

In [5]:
df_fraud = pd.read_csv('../data/fraud_data_final.csv')

In [6]:
df_fraud.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,age,ip_address,class,ip_address_int,transaction_velocity_hours,hour_of_day,day_of_week,source_Direct,source_SEO,browser_FireFox,browser_IE,browser_Opera,browser_Safari,sex_M
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,-0.160204,QVPSPJUOCKZAR,0.679914,43.173.1.96,0,-1.136880,-0.136057,-1.377455,0.991020,False,True,False,False,False,False,True
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,-1.142592,EOGFQPIZPYXFZ,2.304476,20.225.83.219,0,-1.443207,-1.571877,-1.522122,-1.501259,False,False,False,False,False,False,False
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,-1.197169,YSSKYOSJHPPLJ,2.304476,156.64.132.28,1,0.375916,-1.577617,0.937208,-0.005891,False,True,False,False,True,False,True
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,0.385567,ATGTXKYKUDUQN,0.911994,228.234.6.235,0,1.352348,-1.420213,0.213876,-1.501259,False,True,False,False,False,True,True
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,0.112681,NAUITBZFJKHWW,1.376155,24.197.75.141,0,-1.390927,-0.182509,0.937208,-0.504347,False,False,False,False,False,True,True

In [ ]:
from model_building import main

In [ ]:
fraud_data_path = 'path/to/Fraud_Data.csv'  # Update with your path
creditcard_data_path = 'path/to/creditcard.csv'  # Update with your path

In [ ]:
# Run the main function to train and evaluate models
results_fraud, results_creditcard = main(fraud_data_path, creditcard_data_path)

In [ ]:
# Display the results
print("Fraud Data Evaluation Results:")
for model, result in results_fraud.items():
    print(f"{model}:\n{result['report']}\nConfusion Matrix:\n{result['confusion_matrix']}\n")

In [ ]:
print("Credit Card Data Evaluation Results:")
for model, result in results_creditcard.items():
    print(f"{model}:\n{result['report']}\nConfusion Matrix:\n{result['confusion_matrix']}\n")